/* general */

body {
    background-color: #fdf4e9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20vw;
    padding-right: 20vw;
   
}

/* secciones */

.secciones {
    display: block;
    text-align: center;

}

/* imagenes */

.img-chuelangaron,
.img-recetas {
    display: block;
    margin: auto;
    width: 750px;
    border-radius: 25px;
}

.chueligalleta,
.warrito {
    display: block;
    margin: auto;
    width: 400px;
    border-radius: 25px;
    
}

.chueligalleta:hover {
    transform: scale(1.05);
    transition: 0.5s;;
}

.warrito:hover {
    transform: scale(1.05);
    transition: 0.5s;
}


/* titulo y subtitulos */

h1 {
    font-size: 40px;
    text-align: center;
    color: #a96921;
    
}

h2 {
    font-size: 32px;
    text-align: center;
    color: #a96921;
}


/* textos */

.intro {
    color: #3a2b1a;
    font-size: 20px;
    text-align: center;
}

.link {
    color: #a77a38;
    
}




